[submodule "dependecies"]
	path = dependecies
	url = https://github.com/madler/zlib.git
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/madler/zlib.git
    ignore = dirty
